h2 {
	padding:0;
	margin:0;
}

div#admin_container {
	margin:0 auto;
	width:960px;
	padding:20px;
}

ol.tabs {
	float:left;
	width:99%;
	border-bottom: 1px solid #CCC;
	list-style-type: none;
	margin-bottom:0px;
}

.tabs li {
	float:left;
	margin-left: 10px;
}

.tabs li a {
	display: block;
	margin-top: 5px;
	padding: 5px 7px;
	font-size: 100%;
	text-transform: lowercase;
	background-color: #CCC;
	font-weight: bold;
	margin-bottom: 0px;
	outline: none;
	text-decoration: none;
	color: #3EA4D0;
}

#admin_content {
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 15px;
	width:100%;
	background-color: #FFF;
}

.admin_form_header_bar {
	font-weight:bold;
	background-color:#CCC;
	border-bottom: 1px solid #DDD;
	font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
	font-size: 12px;
	color: #666;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:7px;
	margin-bottom:7px;
}

#leftnav {
	padding-right:10px;
	margin-right:10px;
	float:left;
	width:160px;
}

#leftnav a {
	background:white;
	font-family: verdana;
	font-size:10px;
	font-weight:bold;
	width:150px;
	color: #666;
	text-decoration:none;
	padding: 8px;
	border-bottom: 1px solid #CCC;
	display:block;
}

#rightcontent {
	float:left;
	width:720px;
	border-left: 1px dotted #CCC;
	padding-left: 20px;
}

th {
	text-align:left;
}

.admin_dashboard_content {
	
}

.admin_dashboard_item {
	float: left;
	width: 200px;
	height: 150px;
}

.admin_dashboard_item h2 {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	color: #8b8a8a;
}

.admin_dashboard_item h1 {
	font-size: 5.0em;
	margin: 0;
	padding: 0;
	line-height: 60px;
}